/* =============
    Details
============= */

.details{

    margin: 25px;

    h2{
        text-transform: uppercase;
    }

    p{
        line-height: 29px;
    }

    @include md{
        column-count: 3;
        margin: 50px 20px 100px 20px;
    
        
    }
}
