/* =============
    Gallery
============= */

.gallery{

    .mobile-galleryimages{

        background-color: $light-green;
        padding: 30px 10px;

        img{
            display: block;
            margin-left: auto;
            margin-right: auto;

            padding: 10px;
        }
    }

    .desktop-galleryimages{

        background-color: $light-green;

        @media screen and (max-width: 600px){
            display: none;
        }

        img{
            padding: 10px;
            width: 90%;
        }

        .img-grid{

            justify-items: center;
            align-items: center;
            padding: 50px;

            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            'img-1 img-2'
            'img-3 img-4'
            'img-5 img-6'
            'img-7 img-7';
        
            .img-1{
                grid-area: img-1;
            }
    
            .img-2{
                grid-area: img-2;
            }
    
           .img-3{
                grid-area: img-3;
            }
    
            .img-4{
                grid-area: img-4;
            }
    
            .img-5{
                grid-area: img-5;
            }
    
            .img-6{
                grid-area: img-6;
            }
    
            .img-7{
                grid-area: img-7;
            }
        }
    }
}

.buynowbutton{

    button{
            
        background-color: $rust;
            
        display: flex;
    
        color: $beige;
        font-size: 32px;
        text-transform: uppercase;
    
        border-radius: 10px;
        border-style: none;
        
        padding: 10px 20px;
        margin: 20px auto 70px;
    }
}


.mobile-galleryimages{

    @include md{

        display: none;
    }    
}