/* =============
    Gallery
============= */

.gallery{

    .mobile-galleryimages{

        background-color: $light-green;
        padding: 30px 10px;

        img{
            display: block;
            margin-left: auto;
            margin-right: auto;

            width: 75%;
            padding: 10px;
        }
    }

    .desktop-galleryimages{

        img{

            display: none;
        }
    }
}

.buynowbutton{

    button{
            
        background-color: $rust;
            
        display: flex;
    
        color: $beige;
        font-size: 32px;
        text-transform: uppercase;
    
        border-radius: 10px;
        border-style: none;
        
        padding: 10px 20px;
        margin: 20px auto 70px;
    }
}