/* =============
    Highlights Card
============= */

.highlights-card{

    margin: 100px 20px 100px 20px;

    @include md{
        margin: 150px 40px 150px 40px;
    }

    ul.cards{
        list-style: none;
        padding-left: 0;

        display: grid;
        grid-template-columns: 100%;
        gap: 75px;

        @include md{
            display: grid; 
            grid-template-columns: 1fr 1fr 1fr;
        }

        li{

            background-color: $dark-green;
            border-radius: 10px;

            .container{

                h1{
                    color: $beige;
                    font-size: 32px;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                    text-align: center;
                }

                img{
                    max-width: 100%;
                }
            }
        }
    }
}

