/* =============
    Product Stripe
============= */

.productstripe{

    background-color: $dark-green;
    color: $beige;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;

}