/* =============
    Product
============= */

.product{

    background-color: $light-green;
    color: $beige;

    padding: 20px;

    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h2{
        padding: 10px;
    }
}

.addtocart{

    button{

        background-color: $rust;
        color: $beige;
        border-style: none;
        text-transform: uppercase;
    }
}

.sawselections{

    button{

        color: $beige;
        background-color: $light-green;
        font-size: 22px;
        text-align: center;
        border-style: solid;
        border-color: $beige;
        border-radius: 10px;
        border-width: 5px;
    }
}