/* =============
    Product
============= */

.product{

    background-color: $light-green;
    color: $beige;

    padding: 60px;
    
    .sawselections{
    
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        margin: 25px auto;
    
        button{
            
            color: $beige;
    
            background-color: $light-green;
            font-size: 22px;
            text-align: center;
    
            border-style: solid;
            border-color: $beige;
            border-radius: 10px;
            border-width: 5px;
        }
    }

    .addtocart{

        margin: 25px auto;

        button{
    
            background-color: $rust;
    
            color: $beige;
            font-size: 32px;
            text-transform: uppercase;
    
            border-radius: 10px;
            border-style: none;

            padding: 10px 20px;
        }
    }
}