/* =============
    Product
============= */

.product{

    background-color: $light-green;
    color: $beige;
    padding: 15px;
}

button{

    background-color: $rust;
    color: $beige;
    border-style: none;
}

.sawselections{

    button{

        background-color: $light-green;
        border-style: solid;
        border-color: $beige;
    }
}