/* =============
    Tool Info
============= */

.toolcare{

    margin: 40px 25px;

    h2{
        text-transform: uppercase;
    }

    p{
        line-height: 29px;
    }

    .maintenence{

        @include md{
            
            column-count:2;
            margin: 50px 20px 100px 20px;
        }
    }

    .sharpening{

        @include md{

            column-count:2;
            margin: 50px 20px 100px 20px;
        }
    }
}

.materials{

    margin: 40px 25px;

    h2{
        text-transform: uppercase;
    }

    p{
        line-height: 29px;
    }

    @include md{

        column-count:2;
        margin: 50px 20px 100px 20px;
    }
}

.guarantee{

    margin: 40px 25px;

    h2{
        text-transform: uppercase;
    }

    p{
        line-height: 29px;
    }

    @include md{

        column-count:2;
        margin: 50px 20px 100px 20px;
    }
}