/* =============
    Top Navigation
============= */

.topnavigation{

    background-color: $dark-green;
    list-style-type: none;
}

li{
    display: inline-block;
}

.logo{
    width: 50px;
}

.icons{
    float: right;
    padding: 5px;
}
